@keyframes showAndTell {
  0% {background-color: red; opacity: 0.25; left: 20px;}
  25% {background-color: yellow; opacity: 0.5; left: 40px;}
  50% {background-color: green; opacity: 0.75; left: 60px;}
  75% {background-color: blue; opacity: 0..75; left: 80px;}
  100% {background-color: purple; opacity: 1; left: 100px;}

}
@keyframes bodyAnimation {
  0% {background-image: url('http://wallpaper-gallery.net/images/space-cat-wallpaper/space-cat-wallpaper-3.jpg');}
  25% {background-image: url("https://i.imgur.com/G5pfP.jpg");}
  50% {background-image: url('https://physicsforme.files.wordpress.com/2012/02/space_cats.jpg');}
  75% {background-image: url('http://i.imgur.com/NPrdE5b.jpg');}
  100% {background-image: url('https://images6.alphacoders.com/475/475224.jpg');}

}
#animation {
  background-image: url('http://pixelartmaker.com/art/81c98ef38942c06.png');
  background-size: cover;
  height: 200px;
  width: 300px;
  position: relative;
  margin: 0;
  animation-name: showAndTell;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
body {
  background-image: url("http://wallpaper-gallery.net/images/space-cat-wallpaper/space-cat-wallpaper-3.jpg");
  background-size: cover;
  animation-name: bodyAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
