@keyframes showAndTell {
  0% {background-color: red; opacity: 0.25; left: 20px;}
  25% {background-color: yellow; opacity: 0.5; left: 40px;}
  50% {background-color: green; opacity: 0.75; left: 60px;}
  75% {background-color: blue; opacity: 0..75; left: 80px;}
  100% {background-color: purple; opacity: 1; left: 100px;}

}

#animation {
  background-image: url('http://pixelartmaker.com/art/81c98ef38942c06.png');
  background-size: cover;
  height: 200px;
  width: 300px;
  position: relative;
  margin: 0;
  animation-name: showAndTell;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
body {
  background-image: url("http://wallpaper-gallery.net/images/space-cat-wallpaper/space-cat-wallpaper-3.jpg");
  background-size: cover;
}
